.actions{
  position: relative;
  height: 350px;
}

.actions-2{
  position: relative;
  height: 439px;
}

.btn-primary {
  background-color: #F8BD1C;
  border: none;
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  padding: 16px 0;
  font-weight: bold;
  position: absolute;
	bottom: 0;
}